<mat-card class="mt-20 ml-20">
    <p>Game Flow:</p>
    <p>1-Start the game by entering two player names and then show the empty board.</p>
    <p>2-Show the current player turn and game state of the board.</p>
    <p>3-At the end of the game show the winner.</p>
</mat-card>
<mat-card class="mt-20 ml-20">
    <p>Technical Requirements:</p>
    <p>1-Use angular as your primary js framework.</p>
    <p>2-Use any other js libs for styling improvements.</p>
    <p>3-Preserve game state of the board after a browser refresh.</p>
    <p>4-Allow "rollback" one move in the game by pressing the browser back button.</p>
    <p>5-Support responsive layout.</p>
    <p>6-Design the solution so that it can be easily change be the following items:</p>
    <p class="ml-20">a-Board style themes</p>
    <p class="ml-20">Support styling themes of the board and the cells so that it can be easily changed in the future - example a dark mode theme.</p>
    <p class="ml-20">b-Board size</p>
    <p class="ml-20">b-Board size</p>
    <p class="ml-20">c-Game winning examination strategy:</p>
    <p class="ml-20">Support an easy strategy change of game won examination.</p>
</mat-card>
